<%- include('./partials/head.ejs') %>
<div class="container">
    <div class="alert alert-danger mt-5" role="alert">
        <h1 class="alert">Página não encontrada!</h1>
    </div>
</div>
<%- include('./partials/footer.ejs') %>