<%- include('./partials/head.ejs') %>
<%- include('./partials/menu.ejs') %>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center">
            <h1 class="mb-4">Bem-vindo ao DinoRun!</h1>
            <p>Prepare-se para uma aventura emocionante com o dinossauro!</p>
            <a href="/partida" class="btn btn-primary mt-3"><i class="fas fa-play-circle"></i> Iniciar Jogo</a>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>
