<%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>
  <div style="text-align: center">
    <h1>Game Over!</h1>
    <p>Pontuação: <%= partida.pontuacao %></p>
    <a href="/partida" class="btn btn-success btn-lg">Jogar novamente</a>
  </div>

    <%- include('../partials/footer.ejs') %>